@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); //Lexend fonts
//! :::::::::::::::::root:::::::::::::::::
$white-color: #ffffff;
$red-color: #ea0c0c;
$black-color: #000000;
$scarlet-color: #ff2606;
$waterloo-color: #7e8494;
$alto-color: #d9d9d9;
$azure-radiance-color: #00a1f3;
$dove-gray-color: #6d6d6d;

body {
  header {
    background-color: red;
  }
}
