@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); //Lexend fonts
//! :::::::::::::::::root:::::::::::::::::
$white-color: #ffffff;
$red-color: #ea0c0c;
$black-color: #000000;
$scarlet-color: #ff2606;
$waterloo-color: #7e8494;
$alto-color: #d9d9d9;
$azure-radiance-color: #00a1f3;
$dove-gray-color: #6d6d6d;
$cod-gray-color: #141414;
//! :::fonts::
$font-stack: 'Lexend', sans-serif;
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
}
p {
  font-family: $font-stack;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url(./src/images/img-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-logo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;
}

.first-item {
  margin-top: 32px;
  margin-bottom: 10px;
}
.second-item {
  margin-top: 10px;
}
.header-container-line {
  width: 60px;
  height: 1px;
  background-color: $white-color;
}
.header-title {
  font-family: $font-stack;
  font-size: 25px;
  font-weight: 200;
  color: $white-color;
  line-height: 1.4;
}

.header-menu-list {
  display: flex;
  justify-content: center;
  gap: 110px;
  text-align: center;
}

.icon-menu-header {
  cursor: pointer;
  width: 90px;
  height: 90px;
}

.menu-item-list {
  padding-top: 40px;
  padding-bottom: 40px;
}
.menu-item-list:hover {
  display: block;
  border-top: 2px solid $white-color;
  border-bottom: 2px solid $white-color;
}

.header-menu-title {
  font-family: $font-stack;
  font-weight: 700;
  font-size: 30px;
  color: $white-color;
}

//!  section-species
.section-species {
  background-image: url(./src/images/species-section.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.container-speciec-menu {
  max-width: 1285px;
  margin-left: 78px;
  margin-right: 78px;
}
.list-films-menu {
  display: flex;
  gap: 35px;
}
.container-card-item-film {
  background-color: rgba($black-color, 0.6);
  border-radius: 10px;
}
// !one card
.container-card-item-menu-list-one {
  padding: 29px 31px 24px 27px;
}
.list-menu-item-one-card {
  display: flex;
  gap: 74px;
  align-items: center;
}
.item-menu-one-card:last-child {
  width: 203px;
  text-align: center;
}
.img-one-card-film-menu {
  width: 254px;
  height: 289px;
}
.card-one-text-first {
  font-weight: 700;
  font-size: 28px;
  color: $white-color;
  margin-bottom: 14px;
}
.circle-red {
  width: 54px;
  height: 54px;
}
.card-one-text-second {
  font-weight: 700;
  font-size: 28px;
  color: $white-color;
  margin-top: 13px;
}
// !two card
.container-card-item-menu-list-two {
  padding: 62px 32px 63px 68px;
}
.list-menu-item-two-card {
  display: flex;
  gap: 95px;
}
.item-menu-two-card:last-child {
  width: 203px;
  text-align: center;
}
.card-two-text-first {
  font-weight: 700;
  font-size: 28px;
  color: $white-color;
  margin-bottom: 116px;
}
.card-two-text-second {
  font-weight: 700;
  font-size: 28px;
  color: $white-color;
}
//! three card
.img-three-card-film-menu {
  padding: 42px 324px 41px 55px;
}
//! four card
.img-four-card-film-menu {
  padding: 57px 280px 66px 59px;
}
//! five card
.img-five-card-film-menu {
  padding: 16px 275px 19px 35px;
}
//! six card
.img-six-card-film-menu {
  padding: 76px 244px 77px 72px;
}

.section-characters {
  background-image: url(./src/images/main-section-anakin.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid $white-color;
  position: relative;
  display: flex;
  align-items: end;
  overflow: hidden;
  justify-content: right;
}
.characters-list-title {
  display: flex;
  align-items: end;
  margin-bottom: 90px;
  position: absolute;
  width: calc(100% - 538px);
}
.characters-container-title {
  display: flex;
  align-items: end;
  gap: 20px;
}
.img-characters {
  position: relative;
  width: 762px;
  height: 727px;
  z-index: 1;
  margin-left: -400px;
  margin-bottom: -190px;
}
.title-characters {
  font-weight: 700;
  font-size: 60px;
  color: $white-color;
  line-height: 1;
  width: 390px;
}
.text-characters {
  font-weight: 200;
  font-size: 20px;
  color: $white-color;
}

// !                                  container-characters-info

.container-characters-info {
  width: 710px;
  height: 628px;
  background-color: $cod-gray-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 24px;
}

.charanters-list-info-three {
  display: grid;
  justify-self: end;
  grid-template-columns: 1fr;
  gap: 16px 11px;
  max-width: 179px;
  max-height: 97px;
  width: 100%;
  margin-right: 85px;
}

.charanters-list-info-three .list-item-info-heading {
  grid-column: 1 / -1;
  color: $dove-gray-color;
  font-size: 15px;
}
.charanters-list-info-three li:not(.list-item-info-heading) {
  grid-column: span 1;
}

@media (min-width: 600px) {
  .charanters-list-info-three {
    grid-template-columns: repeat(3, 1fr);
  }
}

.list-item-info-characters {
  color: $white-color;
  text-align: right;
  font-family: $font-stack;
  white-space: nowrap;
}
.list-item-info-characters:not(:first-child) {
  font-size: 20px;
}

.charanters-list-info-four {
  display: grid;
  justify-self: end;
  max-height: 97px;
  grid-template-columns: 1fr;
  gap: 16px 11px;
  max-width: 179px;
  width: 100%;
  margin-right: 85px;
}

.charanters-list-info-four .list-item-info-heading-four {
  grid-column: 1 / -1;
  color: $dove-gray-color;
  font-size: 15px;
}

.charanters-list-info-four li:not(.list-item-info-heading-four) {
  grid-column: span 1;
}

@media (min-width: 600px) {
  .charanters-list-info-four {
    grid-template-columns: repeat(3, 1fr);
  }
}

.list-item-info-characters-four {
  color: $dove-gray-color;
  text-align: right;
  font-family: $font-stack;
  white-space: nowrap;
}

.list-item-info-characters-four:not(:first-child) {
  font-size: 20px;
}

.charanters-list-info-five {
  display: grid;
  justify-self: end;
  max-height: 97px;
  grid-template-columns: 1fr;
  gap: 16px 11px;
  max-width: 179px;
  width: 100%;
  margin-right: 85px;
}

.charanters-list-info-five .list-item-info-heading-five {
  grid-column: 1 / -1;
  color: $dove-gray-color;
  font-size: 15px;
}

.charanters-list-info-five li:not(.list-item-info-heading-five) {
  grid-column: span 1;
}

@media (min-width: 600px) {
  .charanters-list-info-five {
    grid-template-columns: repeat(3, 1fr);
  }
}

.list-item-info-characters-five {
  color: $dove-gray-color;
  text-align: right;
  font-family: $font-stack;
  white-space: nowrap;
}

.list-item-info-characters-five:not(:first-child) {
  font-size: 20px;
}

.list-item-info-characters-three:not(:first-child),
.list-item-info-characters-four:not(:first-child),
.list-item-info-characters-five:not(:first-child) {
  font-size: 20px;
}
